<!--Esto es lo que verá el usuario-->

<!--
    Heredamos nuestras variables(bloques) de nuestro componente principal.
    Recordar que este componente se aloja en views/components/index.html
-->
{% extends 'Components/Index.html' %}


<!--Establecemos el valor del bloque de title para el título de la página-->
{%block title%} Vista de ejemplo {% endblock %}


<!--Establecemos lo que contendrá el bloque de content para el contenido que se
    mostrará al usuario-->
{%block content%} 

<h1>Este es un ejemplo de visualización</h1>

<p>Información del autobús</p>

<p>Capacidad: {{capacidad_autobus}} </p> <!--Llamando los valores del contexto-->
<p>Placas: {{placas_autobus}} </p>
<p> Tú chofer es: {{nombre_chofer}} {{apellido_chofer}}

{% endblock %}
