<!--Componente principal que mostrará el contenido de las vistas. 
    Reciclando código para footer y el ./NavBar.html.
    
    Cada bloque funciona como si fuera una variable, en cada
    vista html se heredarán estas variables y se cambiará su
    valor de modo que nos convenga. Ver EjemploView para consultar esto.
-->
<html>
    <head>
        <!--Apertura de bloque title.-->
        <title>
            {%block title%}{% endblock %}
        </title>
    </head>

    <body>

        <!--NavBar-->
        <nav>
            {%include './NavBar.html' %}
        </nav>

        <!--Apertura de bloque content.-->
        <main>
            {%block content%} {% endblock %}
        </main>

        <!--Footer-->
        <footer>
            {%include './Footer.html'%}
        </footer>
        
    
    </body>



</html>